:root {
  --red: #ff0000;
  --yellow: #ffde00;
  --blue: #3b4cca;
  --black: #333;
}

body {
  border-top: 8px solid var(--yellow);
}

::selection {
  background: var(--red);
}

h1 {
  text-align: center;
}

.page {
  max-width: 560px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px var(--blue);
  border: 1px solid var(--blue);
  margin: 32px 0;
  width: 100%;
  max-width: 360px;
}

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(100%);
}

/* Other CSS to make it look cool */

form {
  border: 1px solid var(--blue);
  padding: 24px 32px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px var(--blue);
  text-align: center;
  width: 360px;
}

form h2 {
  padding: 0;
  margin: 0;
}

input {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  border: 2px solid var(--black);
  transition: all 0.1s;
  font-size: 20px;
  background: white;
}

.group {
  position: relative;
}

input + label {
  border: 1px solid var(--black);
  position: absolute;
  top: 0;
  left: 20px;
  transition: all 0.1s;
  opacity: 1;
  background: white;
  border: 2px solid;
  border-width: 0 2px 0 2px;
  padding: 0 5px;
  transform: translateY(calc(50% + 5px));
}

input:focus {
  outline: 0;
  border-color: var(--blue);
}

input:focus + label {
  border-color: var(--blue);
}

footer {
  border-top: 1px solid var(--black);
  flex-shrink: 0;
  width: 80vw;
  text-align: center;
}

img {
  border: 2px solid var(--blue);
  border-radius: 500px;
  padding: 4px;
  background: white;
}

ol a {
  font-size: 24px;
  color: var(--blue);
  text-align: center;
}

ol li {
  margin-bottom: 16px;
}
