<header>
    <form action="/search" method="post">
        <h2>Search Pokemon</h2>
        <div class="group">
            <input type="text" name="search" placeholder="Pokemon Name" id="name">
            <label for="name">Pokemon Name</label>
        </div>
    </form>
</header>